services:
  spark-master:
    build: .
    container_name: spark-master
    user: root
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    environment:
      - SPARK_MODE=master
      - SPARK_MASTER_HOST=spark-master
    ports:
      - "7077:7077"
      - "8080:8080"
      - "4040:4040"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./data:/opt/spark/data
      - ./src:/opt/spark/src
      - ./conf/log4j2.properties:/opt/spark/conf/log4j2.properties
    networks:
      - spark-net

  spark-worker:
    build: .
    container_name: spark-worker
    user: root
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
    depends_on:
      spark-master:
        condition: service_healthy
    volumes:
      - ./data:/opt/spark/data
      - ./src:/opt/spark/src
      - ./conf/log4j2.properties:/opt/spark/conf/log4j2.properties
    networks:
      - spark-net

  metastore-db:
    image: postgres:16
    container_name: metastore-db
    environment:
      - POSTGRES_DB=metastore
      - POSTGRES_USER=metastore_user
      - POSTGRES_PASSWORD=metastore_password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U metastore_user -d metastore"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - metastore_data:/var/lib/postgresql/data
    networks:
      - spark-net

networks:
  spark-net:
    driver: bridge

volumes:
  metastore_data: